@using KMS.Web.Common

<link rel="stylesheet" href="@ConstLocation.value/css/components/footer/style.css" asp-append-version="true" />

<footer id="footer" class="footer">
    <div class="footer__background">
        <div class="footer__topBlock">
            <img class="footer__logo" src="@ConstLocation.value/img/logo/UC_KMS_WHITE.webp" asp-append-version="true" />
            <img class="footer__logo-mobile" src="@ConstLocation.value/img/logo/UCVN_WHITE.png" asp-append-version="true" />
            <div class="footer__info">
                <div>
                    <dt>Văn phòng:</dt>
                    <dd>
                        Tầng 2 - 29T1, 
                    </dd>
                </div>
                <div>
                    <dt>Điện thoại:</dt>
                    <dd>0988050678</dd>
                </div>
                <div>
                    <dt>Email:</dt>
                    <dd>info@ouc.vn</dd>
                </div>
            </div>
            <div class="footer__accessCount">
                <p>Trong ngày: <span>1</span></p>
                <p>Số lượt truy cập: <span>45</span></p>
            </div>
        </div>
        <div class="footer__bottomBlock">
            <div class="footer__bottomBlock__left">
                © 2025, UC Việt Nam. All rights reserved.
            </div>
            <div class="footer__bottomBlock__middle">
                <img src="@ConstLocation.value/img/footer/facebook.png" asp-append-version="true" />
                <img src="@ConstLocation.value/img/footer/youtube.png" asp-append-version="true" />
                <img src="@ConstLocation.value/img/footer/ucvn.png" asp-append-version="true" />
            </div>
            <div class="footer__bottomBlock__right">&nbsp;</div>
        </div>
    </div>

</footer>