@using KMS.Web.Common
@using KMS.Web.Common.Lang
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResource> Localizer
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    var isDetailPage = currentController == "Document" && (currentAction == "Detail" || string.IsNullOrEmpty(currentAction));
}

<link rel="stylesheet" href="@ConstLocation.value/css/components/fixed-corner-buttons/style.css" asp-append-version="true" />

<div class="nav-floating-wrapper">
    <a href="#" class="nav-button back" onclick="@(isDetailPage ? "window.close()" : "history.back()")">
        <span class="icon-preview">@SvgHelper.GetSvgIcon("chevron_left", true)</span>
        <span class="text">@Localizer["_FixedButtons.nav-floating-wrapper_QuayLai"]</span>
        <span class="icon">@SvgHelper.GetSvgIcon("chevron_left", true)</span>
    </a>
    @if (isDetailPage)
    {
        <a href="#" class="nav-button share" data-bs-toggle="modal" data-bs-target="#share-modal">
            <span class="icon-preview">@SvgHelper.GetSvgIcon("share", false)</span>
            <span class="text">@Localizer["_FixedButtons.nav-floating-wrapper_ChiaSe"]</span>
            <span class="icon">@SvgHelper.GetSvgIcon("share", false)</span>
        </a>
    }
</div>

<script>
    const hHeight = document.querySelector(".sbar-header").clientHeight;
    if (window.matchMedia("(max-width: 768px)").matches) {
        document.querySelector('.nav-floating-wrapper').style.top = `${hHeight}px`;
    } else {
        document.querySelector('.nav-floating-wrapper').style.top = `${hHeight + 10}px`;
    }
</script>