@using KMS.Web.Common
@using KMS.Web.Common.Lang
@using KMS.Web.Core
@using KMS.Web.Models.JsonConfig
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@inject JsonConfigCacheService<KmsParam> KmsParamService
@model KMS.Shared.DTOs.Document.Details

@{
    var is_adoc = Model.db_type == "adoc";
    var is_ddoc = Model.db_type == "ddoc" || Model.db_type == "adoc";
    var is_pdoc = Model.db_type == "pdoc" || Model.db_type == "adoc";
    var paramConfig = KmsParamService.GetConfig();
    var hasDigitalFile = false;
    var hasAudioFile = false;
    int view = Model.view == null ? 0 : Model.view.Value;
    int like = Model.like == null ? 0 : Model.like.Value;

    var baseUrl = AppConfigHelper.GetBaseUrlFile();
    var thumb = !string.IsNullOrWhiteSpace(Model.cover_photo) ? (baseUrl + Model.cover_photo) : "";
    var defaultImage = ConstLocation.value + "/img/" + DefaultCoverPhoto.GetImageForBibType(Model.bib_type ?? "");
    var enable9PrefixMarc21 = paramConfig.ShowMarc21Field9xx;
    var showRegisterCirculation = paramConfig.AlwaysShowHoldingRegCir;
}

<script>
    const isShownStatus = true;
    const isShownAction = true;
    const slug = '@Uri.EscapeDataString(Model.slug ?? "")';
</script>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion__rating-frame">
        <div class="view-group">
            <span class="view-icon">@SvgHelper.GetSvgIcon("smile", true)</span>
            <div class="text-wrapper">@(view.ToString("N0")) lượt xem</div>
        </div>
        <div class="rating-group">
            <div class="like-group">
                <span class="like-icon">@SvgHelper.GetSvgIcon("like_2", false)</span>
                <div class="text-wrapper">@(like.ToString("N0"))</div>
            </div>
            <span class="dislike-icon">@SvgHelper.GetSvgIcon("dislike_2", false)</span>
        </div>
    </div>
    @* @if (is_pdoc)
    {
        <div id="register-circulation" class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button middle-block__tab collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#register-circulation-container" aria-expanded="false"
                    aria-controls="register-circulation-container">
                    <span>@Html.InfoIcon(true)</span>@Localizer["Detail/_DocumentInfo_MiddleBlock.middle-block__tab_ViTriTaiLieu"]
                </button>
            </h2>
            <div id="register-circulation-container" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <table id="table-register-circulation" class="stripe hover register-circulation">
                        <thead>
                            <th>#</th>
                            <th class="main-col">
                                @Localizer["Detail/_DocumentInfo_MiddleBlock.table-register-circulation_MaDKCB"]</th>
                            <th class="main-col">
                                @Localizer["Detail/_DocumentInfo_MiddleBlock.table-register-circulation_DiemLuuThong"]</th>
                            <th class="main-col">
                                @Localizer["Detail/_DocumentInfo_MiddleBlock.table-register-circulation_TrangThai"]</th>
                            <th class="no-content">
                                @Localizer["Detail/_DocumentInfo_MiddleBlock.table-register-circulation_ThaoTac"]</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <nav id="reg-cir-paginator" class="mt-3">
                        <ul class="pagination pagination-sm justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    } *@
    @if (is_ddoc)
    {
        if (Model.files.Count > 0)
        {
            <div id="digital-file" class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button middle-block__tab" type="button" data-bs-toggle="collapse"
                        data-bs-target="#digital-file-container" aria-expanded="false" aria-controls="digital-file-container">
                        <span>@Html.InfoIcon(true)</span>@Localizer["Detail/_DocumentInfo_MiddleBlock.middle-block__tab_TaiLieuSo"]
                    </button>
                </h2>
                <div id="digital-file-container" class="accordion-collapse collapse  accordion-body has-table" aria-labelledby="panelsStayOpen-headingOne">
                    <table id="table-register-circulation" class="table stripe hover register-circulation">
                        <thead>
                            <tr>
                                <th style="width:50px">#</th>
                                <th class="main-col w-75">Tên file</th>
                                <th style="width:100px"  class="no-content">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.files)
                            {
                                <tr>
                                    <td style="align-content:center">1</td>
                                    <td style="align-content:center">@item.name</td>
                                    <td>
                                        <div id="btn-borrow" class="btn-book-detail-book-white">
                                            <a onclick="window.open('@ConstLocation.value/doc-tai-lieu/@item.id','_blank')" class="buttons__borrow">@Html.ReadSvg(false) Đọc ngay</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
    @if (!string.IsNullOrEmpty(Model.item_ext.isbd))
    {
        <div id="isbd" class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button middle-block__tab" type="button" data-bs-toggle="collapse"
                    data-bs-target="#isbd-container" aria-expanded="false" aria-controls="isbd-container">
                    <span>@Html.InfoIcon(true)</span>Isbd
                </button>
            </h2>
            <div id="isbd-container" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @Html.Raw(Model.item_ext.isbd.Replace("\\r\\n", "<br>").Replace("\\t", "&nbsp;&nbsp;&nbsp;&nbsp;"))
                </div>
            </div>
        </div>
    }
    @if (is_pdoc)
    {
        <div id="marc21" class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed middle-block__tab" type="button" data-bs-toggle="collapse"
                    data-bs-target="#marc21-container" aria-expanded="false" aria-controls="marc21-container">
                    <span>@Html.InfoIcon(true)</span>Marc21
                </button>
            </h2>
            <div id="marc21-container" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body has-table">
                    <table class="table table-striped table-hover marc21">
                        <tbody>
                            @if (Model.marc_field_value_object != null)
                            {
                                foreach (var field in Model.marc_field_value_object)
                                {
                                    if (field.SubFields != null && field.SubFields.Any())
                                    {
                                        var isFirst = true;
                                        foreach (var sub in field.SubFields)
                                        {
                                            <tr>
                                                @if (field.Field?.StartsWith("9") == true)
                                                {
                                                    if (enable9PrefixMarc21)
                                                    {
                                                        <td>@(isFirst? Html.Raw(field.Field) : "")</td>
                                                    }
                                                    else
                                                    {
                                                        continue;
                                                    }
                                                }
                                                else
                                                {
                                                    <td>@(isFirst? Html.Raw(field.Field) : "")</td>
                                                }
                                                <td>@(isFirst? Html.Raw(field.Indicator1) : "")</td>
                                                <td>@(isFirst? Html.Raw(field.Indicator2) : "")</td>
                                                <td>@Html.Raw(sub.Subfield)</td>
                                                <td>@Html.Raw(sub.Value)</td>
                                            </tr>
                                            isFirst = false;
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    @if (is_ddoc)
    {
        <div id="dublin-core" class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed middle-block__tab" type="button" data-bs-toggle="collapse"
                    data-bs-target="#dublin-core-container" aria-expanded="false" aria-controls="dublin-core-container">
                    <span>@Html.InfoIcon(true)</span>Dublin Core
                </button>
            </h2>
            <div id="dublin-core-container" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body has-table">
                    <table class="table table-striped table-hover dublin-core">
                        <tbody>
                            @if (Model.dublin_core_object != null)
                            {
                                foreach (var field in Model.dublin_core_object)
                                {
                                    bool firstRow = true;
                                    if (field.SubFields != null && field.SubFields.Any())
                                    {
                                        foreach (var sub in field.SubFields)
                                        {
                                            <tr>
                                                <td>@(firstRow? Html.Raw(field.Field) : "")</td>
                                                <td>@Html.Raw(sub.Value)</td>
                                            </tr>
                                            firstRow = false;
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>