@using KMS.Shared.DTOs.Document
@using KMS.Web.Common
@using KMS.Web.ViewModels.Shared.Components.DocumentDetail
@model DocumentDetailViewModel
@using KMS.Web.Helpers

@{
	var baseUrlImage = AppConfigHelper.GetBaseUrlFile();
}


<div class="library-container__content-row">
	<div class="second-content__library-container">
		<label class="library-container__title">
			Tài liệu liên quan
			<span class="library-container__line"></span>
		</label>
		<div class="library-layout-two-columns">
			<!-- Cột trái: Danh sách thư viện -->
			<div class="library-container__library-list">
				@foreach (var item in Model.RelatedDocuments)
				{
					var thumb = !string.IsNullOrWhiteSpace(item.cover_photo) ? (baseUrlImage + item.cover_photo) : null;
					var defaultImage = ConstLocation.value + "/img/" + DefaultCoverPhoto.GetImageForBibType(item.bib_type ?? "");

					<div class="library-container__card-detail-book">
						<img src="@defaultImage"
							 alt="@item.title" />

						<div class="library-container__content-detail-book">
							<h2 class="library-container__blue-text-detail-book truncate-2-lines" onclick="window.open('@ConstLocation.value/chi-tiet-tai-lieu/@item.slug','_blank')" style="cursor:grabbing">
								@item.title
							</h2>

							<div class="line-and-text">
								<div class="vertical-line"></div>
								<h1 class="library-container__gray-text-light-detail-book library-container__small-text-detail-book">
									@item.bib_type
								</h1>
							</div>

							<p class="truncate-1-lines">
								Tác giả: <span style="color: var(--secondary-color);">@item.item_ext.author</span>
							</p>
							<p class="truncate-1-lines">
								Thông tin xuất bản: <b style="font-weight:600">@item.item_ext.publish_info</b>
							</p>
							@if (!string.IsNullOrEmpty(item.item_ext?.summary))
							{
								<p class="truncate-3-lines">
									<span style="font-weight:600">Tóm tắt:</span> @item.item_ext.summary
								</p>
							}
						</div>

						<div>
							<button class="library-container__btn-book-detail-book">
								<i class="library-container__fas-detail-book library-container__fa-external-link-alt-detail-book"></i>
								<span>Muợn sách</span>
							</button>
							<button class="library-container__btn-book-detail-book-white mt-1">
								<i class="library-container__far-detail-book library-container__fa-star-detail-book"></i>
								<span>Yêu thích</span>
							</button>
						</div>
					</div>

				}
			</div>
		</div>
	</div>
	<div class="library-container__suggested-books documentDetail__recommend">
		<h3>Có thể bạn sẽ thích</h3>
		<ul>
				@foreach (var item in Model.HotDocuments)
				{
				<li>
					<a onclick="window.open('@ConstLocation.value/chi-tiet-tai-lieu/@item.slug','_blank')" style="cursor:grabbing">@item.title</a>
				</li>
				}
		</ul>
	</div>
</div>

@* <div class="library-container__content-row">
	<div class="second-content__library-container">
		<label class="library-container__title">
			Danh sách thư viện lưu trữ
			<span class="library-container__line"></span>
		</label>
		<div class="library-layout-two-columns">
			<!-- Cột trái: Danh sách thư viện -->
			<div class="library-container__library-list">
				@foreach (var item in Model)
				{
					<div class="library-card @(item.IsAvailable ? "available" : "unavailable")">
						@if (!item.IsAvailable)
						{
							<div class="overlay">
								<div class="out-of-stock">
									<h4>SÁCH ĐÃ HẾT.</h4>
									<p>Chúng tôi sẽ thông báo khi có bản mới!</p>
									<button class="notify-button">Nhận thông báo</button>
								</div>
							</div>
						}

						<div class="library-card__left">
							<img src="@item.ImageUrl" alt="@item.AltText" asp-append-version="true" />
						</div>

						<div class="library-card__right">
							<div class="library-info">
								<h3 class="library-name @(item.IsAvailable ? "" : "text-muted")">@item.Name</h3>
								<p class="library-en">@item.EnglishName</p>
								@if (!string.IsNullOrEmpty(item.Distance))
								{
									<p class="library-distance">
										<span class="icon">@Html.MapSvg(false)</span>
										<label><span class="distance-text">@item.Distance</span> từ vị trí của bạn</label>
									</p>
								}
								<p class="library-address">@item.Address</p>
							</div>

							<div class="library-actions">
								<button class="btn primary" @(item.IsAvailable ? "" : "disabled")>
									@Html.BorrowSvg(false)Mượn
									sách
								</button>
								<a class="btn secondary" @(item.IsAvailable ? "" : "disabled")>
									@Html.StarSvg(false)Thư
									viện yêu
									thích
								</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="library-container__suggested-books">
		<h3>Có thể bạn sẽ thích</h3>
		<ul class="skeleton-list">
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</div>
</div> *@